

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #116f74;
  color: #333;
}
 img { 
  margin: 0% 35%;
 } 


.navbar {
  background-color: #30f090;
  padding: 1rem;
}

.navbar-menu {
  list-style-type: none  ;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-menu li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px
  ;
}

.navbar-menu li a:hover {
  text-decoration: underline;
  background-color: #301f92;
}
a{ 
  padding: 15px;
}

.header {
  text-align: center;
  margin-top: 2rem;
}

.title {
  font-size: 2.5rem;
  color: #f08330;
}

#home { 
   width: 200px;
  height: 200px;
  background: url(download.jpg) 0 0;
}




.section {
  padding: 2rem;
}

.menu-list {
  list-style-type: none;
  padding-left: 0;
}

.menu-item {
  background-color: #822a82;
  border-left: 5px solid #f04e30;
  padding: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 5);
  transition: transform 0.2s;
}

.menu-item:hover {
  transform: scale(1.02);
}


.footer {
  text-align: center;
  background-color: #54c16c;
  color: white;
  padding: 1rem;
}

.contact-link {
  color: #301f92;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}
